<% include ../partials/header %>


<div class = "container">
    <header class = "jumbotron">
        <div class = "container">
            <h1>Welcome to My YelpCamp! </h1>
            <p>A bunch of choices for Camp Sites</p>
            <p>
                <a class = " btn btn-primary btn-lg" href = "/campground/new">add new camp</a>
            </p>
        </div>
    </header>
    
    <div class = "row">
        <div class = "col-lg-12">
            <h3>Our Most Popular Sites</h3>
        </div>
    </div>
    
    <div class = "row text-center" style = "display:flex; flex-wrap: wrap;">
        <% campground.forEach(function(camp){ %>
            <div class = "col-md-3 col-sm-6">
                <div class = "thumbnail">
                    <img src= "<%= camp.image %>" >
                    <div class = "caption">
                        <h4><%= camp.name %></h4>
                    </div>
                    <p>
                        <a href ="/campground/<%= camp._id %>" class = "btn btn-primary">more info.</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
    
    
</div>


<% include ../partials/footer %>